*{
    margin: 0;
    padding: 0;
}

.container{
    font-family: 'Josefin Sana', sans-serif;
    background: url("InvisibleWallpaper3.jpg") no-repeat center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
}

/*micah larson image 638x637*/
.card-wrapper{
    height: 600px;
    width: 450px;
    border: 10px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0));
            url(MicahLarson2.JPG) no-repeat center;
    border-radius: 5px;
    transition: box-shadow 2s;
}

.card-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    /*box-shadow: 20px 30px 50px rgba(0,0,0,0.5);*/
}

.card-wrapper:hover{
    box-shadow: 0 0 100px 80px #4A41C3;
}


.card {
    height: 100%;
    width: 100%;
    /*border-radius: inherit;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(217,217,217));
}

.card-heading{
    font-size: 20px;
    color: #FFFAF7;
    /*font-weight: 300;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 3px;*/
    background: rgba(8,10,64,1);
    border-radius: 5px;
    width: 40%;
    height: 5%;
    text-align: center;
    padding: 5px 0;
    /*transform: perspective(1000px) skewX(-20deg) rotateY(40deg);*/
}

.card-paragraph{
    font-size: 15px;
    text-align: justify;
    width: 80%;
}

.card-paragraph i {
    font-size: 20px;
    font-style: italic;
    position: absolute;
}

.card-paragraph i:first-child {
    top: -10%
}

.card-paragraph i:last-child {
    bottom: -10px;
    margin-left: 10px;
}

.card-icons{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.card-icon-link{
    text-decoration: none;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-icon {

}